<div>
    <div>
        <p>
            Isi formulir di bawah ini untuk mengirimkan pesan kepada saya.
        </p>
    </div>
    <div>
        <form action="https://api.web3forms.com/submit" method="POST" id="form">
            <input type="hidden" name="access_key" value="685bcedc-c53d-4b76-ac5d-e3b336056d10" />
            <input type="hidden" name="subject" value="New Submission from Web3Forms" />
            <input type="hidden" name="redirect" value="https://web3forms.com/success" />
            <input type="checkbox" name="botcheck" id="" style="display: none;" />
            <div>
                <label for="name">Nama Lengkap</label>
                <input type="text" name="name" id="name" placeholder="Faiq Najib" required />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="halo@perusahaanku.com" required />
            </div>
            <div>
                <label for="message" >Pesan Anda</label>
                <textarea rows="5" name="message" id="message" placeholder="Halo mas Faiq!" required></textarea>
            </div>
            <div>
                <div class="h-captcha" data-captcha="true"></div>
            </div>
            <div>
                <button type="submit">
                    Kirim Pesan
                </button>
            </div>
            <p id="result"></p>
        </form>
    </div>
</div>
