{{ define "main" }}
	<main class="wrapper">
		<h1><a href="/" class="home">{{.Title}}</a></h1>
		<div class="dim post-info">
			{{ dateFormat ":date_long" .Date.Local }}
		</div>

		<div>
			<p style="font-style: italic;">
				{{ .Description }}
			</p>
		</div>

		{{ if .Params.toc }}
		<hr />
		<aside id="toc">
			<div class="toc-title" style="font-style: italic;"><h2>Table of Contents</h2></div>
			{{ .TableOfContents }}
		</aside>
		<hr />
		{{ end }}

		{{ if .Content -}}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}
		<ul class="lsn dim post-footer">
			<li>Diterbitkan: {{ dateFormat "2006-01-02 15:04 MST" .Date.UTC }}</li>
			<li>Diperbarui: {{ dateFormat "2006-01-02 15:04 MST" .Lastmod.UTC }}</li>
			<li>Jumlah kata：{{ .WordCount }}</li>
			{{- with .Params.tags }}
			<li>Label：{{- range . -}}<a href="{{ "tags/" | relURL }}{{ . | urlize }}" class="post-tag">{{.}}</a>{{ end }}</li>
			{{- end }}
			<br>
			{{- with .PrevInSection }}
			<li>Artikel sebelumnya：<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
			{{- with .NextInSection }}
			<li>Artikel selanjutnya：<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{- end }}
		</ul>

		{{ with .Params.comments -}}
		<br>
		{{ partialCached "comments.html" . }}
		{{- end }}
	</main>
	<hr>
{{- end }}