{{ define "main" }}
<style></style>
<main class="wrapper">
  <h1><a href="/" class="home">{{.Title}}</a></h1>
  {{ if .Content -}}
  <div class="content">
    {{ .Content }}
  </div>
  {{- end }}

  {{- range (.Pages.ByParam "shot_date").Reverse}}
  <div class="album">
    {{ $albumLink := .RelPermalink -}}
    <h2><a href="{{ $albumLink }}" class="tdln">{{.Title}}</a></h2>
    <a href="{{ $albumLink }}" class="album-row">
      {{- range $image := .Params.images -}}
      <div class="img-tile"><img src="{{ $albumLink }}{{  $image }}" height="130px" width="auto" loading="lazy"></div>
      {{- end -}}
    </a>
  </div>
  {{- end }}
</main>
<hr>
{{- end }}