{# Comments partial - add your preferred comment system here #}
{# Examples: Disqus, Utterances, Giscus, etc. #}

<section class="comments">
  <h2>Komentar</h2>
  
  {# Uncomment and configure one of these: #}
  
  {# --- Giscus (GitHub Discussions) --- #}
  {# 
  <script src="https://giscus.app/client.js"
    data-repo="fanajib5/blog"
    data-repo-id="YOUR_REPO_ID"
    data-category="Comments"
    data-category-id="YOUR_CATEGORY_ID"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="id"
    crossorigin="anonymous"
    async>
  </script>
  #}
  
  {# --- Utterances (GitHub Issues) --- #}
  {#
  <script src="https://utteranc.es/client.js"
    repo="fanajib5/blog-comments"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  #}
</section>
