<footer class="wrapper">
  <h2 class="sr-only">About</h2>
  <ul class="footer-list">
    <li>&copy; 2025 <a href="{{ site.url }}/">{{ site.author.name }}</a>. Content licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank" rel="noopener">CC BY-NC 4.0</a>.</li>
    <li>Made with &#10084; Powered by <a href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a> + Tailwind CSS + HTMX + Alpine.js.</li>
    <li>View the <a href="/about/">About</a> page to learn more. Keep track via <a href="/writing/feed.xml" target="_blank" title="RSS">RSS</a>.</li>
  </ul>
</footer>
